.loading {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.loading > div {
  width: 70px;
  height: 70px;
  border-bottom: 5px solid #6366f1;
  border-radius: 50%;
  animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
  to {
    transform: rotateZ(-360deg);
  }
}